<!DOCTYPE html>
<html ng-app="carApp">
	<head>
		<meta charset="UTF-8">
		<title>购物详情页</title>
		
		<link href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
		<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
	</head>
	<body ng-controller="CarCountController">
	<div class="container">
		<h3>购物车详情</h3>
		<hr />
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				
				<table class="table" ng-show="books.length">
					<thead>
						<tr>
							<th>产品编号</th>
							<th>产品名称</th>
							<th>购买数量</th>
							<th>购买单价</th>
							<th>购买总价</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in books" >
							<td>{{item.id}}</td>
							<td>{{item.booktitle}}</td>
							<td>
								<div class="form-inline">
								<button class="btn btn-success " ng-click="reduce($index)"
									data-toggle="popover" data-placement="top" data-content="你购买的数量不能为0">-</button>
								<input type="text" class="form-control"ng-model="item.count" />
								<button class="btn btn-success " ng-click="plus($index)">+</button>
								</div>
							</td>
							<td>{{item.price}}</td>
							<td>{{item.count*item.price|currency}}</td>
							<td>
								<button class="btn btn-danger" ng-click="remove($index)">删除</button>
							</td>
						</tr>
						<tr>
							<td style="color: #AA1100;">购买总价:{{totalPrice()|currency}}</td>
							
							<td>购买总数量:{{total()}}</td>
							
							<td>产品折价:{{bill.discount}}</td>
							<td>结算额:{{totalPrice()-bill.discount}}</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<div class="row" ng-show="books.length">
					<div class="col-md-8">
												
					</div>
					<div class=" col-md-4">
						<button class="btn btn-primary">apply</button>
						<button class="btn btn-danger pull-right" ng-click="books=''">remove</button>
					</div>
				</div>
				<p class="lead" ng-hide="books.length">您的购物车为空！请返回主页面购买</p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	
	
	
	
	
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$(window).ready(function(){
			$('#myModal').modal('show');
		})
		var app=angular.module("carApp",[]);
		app.controller("CarCountController",function($scope){
			$scope.books=[
		{"id":"a","booktitle":"html6", "count":2, "authod":"w3c","price":"10.20","pubdate":"2012-10-14","state":"true","images":["a","b","c","d"]},
		{"id":"b","booktitle":"oracle","count":4, "authod":"apado","price":"18.50","pubdate":"2012-12-14","state":"false","images":["a","b","c","d"]},
		{"id":"c","booktitle":"java", "count":3, "authod":"sun","price":"32.10","pubdate":"2012-16-16","state":"true","images":["a","b","c","d"]},
		{"id":"d","booktitle":"css3", "count":1, "authod":"w3c","price":"20.20","pubdate":"2012-7-14","state":"false","images":["a","b","c","d"]},
		{"id":"e","booktitle":"angular", "count":5, "authod":"goole","price":"20.20","pubdate":"2012-7-14","state":"false","images":["a","b","c","d"]}
		];
			
		  	
		  $scope.bill={};		  
		   $scope.total=function(){		  
		  	var totalnum=0;		  		
		  		angular.forEach($scope.books,function(item){
		  			totalnum+=item.count;
		  		});
		  	return totalnum;
		  };
		  $scope.totalPrice=function(){		  
		  	var totalprice=0;		  		
		  		angular.forEach($scope.books,function(item){			
		  			totalprice+=item.count*item.price;
		  			
		  		});
		  	return totalprice;
		  };
		  $scope.remove=function(id){
		  	
		  	$scope.books.splice(id,1);
		  	
		  };
		  $scope.reduce=function(index){
		  	if($scope.books[index].count>1){
		  		$scope.books[index].count--;
		  	}else{
		  		$('#myModal').modal('show');
		  		
		  		
		  	}
		  }
		  $scope.plus=function(index){
		  	console.log(index)
		  	if($scope.books[index].count>=1){
		  		$scope.books[index].count++;
		  	}
		  	
		  	
		  }
		  var calculatecount=function(newValue,oldValue,scope){
		  	 $scope.bill.discount=newValue>100?10:0;
		  }
		 
		  
		  $scope.$watch($scope.totalPrice,calculatecount);
		  	
		})
	</script>
	
	</body>
</html>
